<h1 mat-dialog-title>
   <em class="pe pe-7s-id"></em>{{'forgot.title' | translate}}
</h1>

<mat-dialog-content>
   <form *ngIf="step === 1">
      {{'forgot.instruction' | translate}}
      <mat-form-field floatLabel="never">
         <input matInput type="text" [(ngModel)]="username" id="username" name="username" required cdkFocusInitial />
      </mat-form-field>
   </form>
   <div *ngIf="step === 2">{{result}}</div>
</mat-dialog-content>

<mat-dialog-actions *ngIf="step === 1" align="end">
   <button mat-flat-button mat-dialog-close>{{'cancel' | translate}}</button>
   <button loading-flat color="primary" #button (click)="forgot(button)"
           [disabled]="!username">{{'forgot.reset' | translate}}</button>
</mat-dialog-actions>
<mat-dialog-actions *ngIf="step === 2" align="end">
   <button mat-flat-button color="primary" mat-dialog-close>{{'close' | translate}}</button>
</mat-dialog-actions>
