<h1 mat-dialog-title>
   <em class="pe pe-7s-id"></em>{{'forgot.title' | translate}}
</h1>

<mat-dialog-content>
   @if (step === 1) {
      <form>
         {{'forgot.instruction' | translate}}
         <mat-form-field>
            <input matInput type="text" [(ngModel)]="username" id="username" name="username" required cdkFocusInitial />
         </mat-form-field>
      </form>
   }
   @if (step === 2) {
      <div>{{result}}</div>
   }
</mat-dialog-content>

@if (step === 1) {
   <mat-dialog-actions align="end">
      <button mat-flat-button mat-dialog-close>{{'cancel' | translate}}</button>
      <button loading-flat color="primary" #button (click)="forgot(button)"
              [disabled]="!username">{{'forgot.reset' | translate}}</button>
   </mat-dialog-actions>
}
@if (step === 2) {
   <mat-dialog-actions align="end">
      <button mat-flat-button color="primary" mat-dialog-close>{{'close' | translate}}</button>
   </mat-dialog-actions>
}
