@use '@angular/material' as mat;
@mixin auth-theme($theme, $typography) {
   $primary: map-get($theme, primary);
   $accent: map-get($theme, accent);
   $warn: map-get($theme, warn);
   $background: map-get($theme, background);
   $foreground: map-get($theme, foreground);

   .app-login {
      background-color: mat.get-color-from-palette($background, background);

      .box {
         background-color: mat.get-color-from-palette($background, card);
         border: 1px solid mat.get-color-from-palette($background, background);
      }

      label {
         color: mat.get-color-from-palette($foreground, hint-text);
      }

      .forgot {
         font-size: 12px;
      }

      .or {
         &:before, &:after {
            border-color: mat.get-color-from-palette($foreground, divider);
         }
      }
   }
}
