@if (options.title) {
  <h1 mat-dialog-title [class]="titleClass">
    @if (titleIcon) {
      <mat-icon>{{titleIcon}}</mat-icon>
      } {{titleText}}
    </h1>
  }

  @if (options.message) {
    <mat-dialog-content [innerHtml]="options.message"></mat-dialog-content>
  }

  <mat-dialog-actions align="end">
    @if (options.close) {
      <button mat-stroked-button mat-dialog-close>{{options.close}}</button>
    }
    @if (options.accept) {
      <button loading-flat #button
        [color]="acceptColor"
      (click)="accept(button)">{{acceptLabel}}</button>
    }
  </mat-dialog-actions>
